/* Tarjeta Prev Match */
.click-more-info{
    padding: 2% 0% 2% 0% !important;
    display: flex;
    justify-content: center !important;
} 


.match-loser-prevgame{
    height: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    font-weight: bold;
}
.match-winner-prevgame{
    height: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.drop-container{
    border-radius: 3px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.not-first-index-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.info-not-first-index{
    padding: 5px 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (min-width: 771px) {  
    .margin-right-bottom{
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .card-title{
        top: 0;
        right: 0;
        position: absolute;
        margin-right: 15px;
        margin-top: 16px;
    }
    .card-reveal > .share{
        top: 0;
        left: 0;
        position: absolute;
        margin-left: 15px;
        margin-top: 9px;
        width: 200px;
    }
    /* .card-title > i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 17px 20px 0px 0px;
        z-index: 100;
    } */
    .card-reveal{
        padding: 58px 0px 0px 0px!important;
    } 
    .table-logo-size{
        width: 40px;
        margin-right: 20px;
    }
    .size-prev-game{
        width: 630px !important;
    }
    .prev-game-content{
        padding: 0% 0% 0% 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .prev-game-mobile{
        display: none;
    }
    .prev-game-desktop{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .team-column{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        
    }

    .game-win{
        align-self: center;
        justify-self: center;
        font-size: 50px;
        display: flex;
        justify-content: center;
        min-width: 90px;
        max-width: 150px;
        margin-bottom: 0% !important;
    }
    .max-size-logo-prev-game{
        max-width: 130px !important;
        max-height: auto !important;
        /*max-width: 160px !important;
        max-height: 187px !important;*/
    }   
    .text-in-card{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .name-of-teams{
        margin: 2% 0% 2% 0% !important;
        font-size: 15px;
        font-weight: bold;
    }
    .prev-game-header-container{
        padding: 0% 0% 0% 0%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .prev-game-header{
        width: 100%;
        margin: 2% 0% 2% 0% !important;
        font-size: 15px;
        font-weight: bold;
    }
    .bestof-prev-game{
        margin: 2% 0% 2% 0% !important;
        text-align: center;
    }
    .point-A{
        padding-right: 5%;
    }
    .point-B{
        padding-left: 5%;
    }
    
}
  
@media screen and (max-width: 770px) {     
    .margin-right-bottom{
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .card-title{
        top: 0;
        right: 0;
        position: absolute;
        margin-right: 15px;
        margin-top: 16px;
    }
    .card-reveal > .share{
        top: 0;
        left: 0;
        position: absolute;
        margin-left: 15px;
        margin-top: 9px;
        width: 200px;
    }
    /* .card-title > i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 17px 20px 0px 0px;
        z-index: 100;
    } */
    .card-reveal{
        padding: 58px 0px 0px 0px !important;
    } 
    .table-logo-size{
        width: 25px;
        margin-right: 20px;
    }
    .size-prev-game{
        width: 330px !important;
    }
    .prev-game-content{
        padding: 0%;
        display: flex;
        flex-direction: column;
    }
    .prev-game-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    }
    .row-team-name-gamewin{
        padding: 0px 20px;
        height: 57px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .prev-game-desktop{
        display: none;
    }
    .logos-and-gamewin{
        padding: 2% 0% 0% 0%;
        width: 100%;
        height: 170px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .game-win{
        align-self: center;
        justify-self: center;
        font-size: 30px;
        display: flex;
        justify-content: center;
        min-width: 70px;
        max-width: 150px;
        margin-bottom: 0% !important;
    }
    .max-size-logo-prev-game{
        max-width: 40px;
        max-height: 57px;
        
    }   
    .name-of-teams{
        font-size: 12px;
        font-weight: bold;
    }
    .bestof-prev-game{
        margin: 0% !important;
        width: 100%;
        height: 20px;
        font-size: 12px;
        text-align: center;
    }
    .point-A{
        padding-right: 0%;
    }
    .point-B{
        padding-left: 0%;
    }
    .text-in-card{
        padding: 0%;
        width: 100%;
    }
    
}