
.W-green{
    color: green;
    font-family: "Gilroy-ExtraBold";
}
.L-red{
    color: rgb(128, 0, 0);
    font-family: "Gilroy-ExtraBold";
}
@media (min-width: 771px) { 
    .stadistic-card-container{
        background-color: white;
        align-self: center;
        border-radius: 3px;
        width: 630px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 15px;
    }  
    .container-estadistica{
        margin: 15px 0px 15px 0px;
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }  
    .win-and-loose{
        margin: 0px 0px 15px 0px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
     
    .font-wins{  
        font-size: 20px !important;
        font-weight: bold !important;
        color: #000000 !important;
    }
    .font-stadistic-data{
        font-size: 20px !important;
        font-weight: bold !important;
    }
    .stadistic-span{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
}
  
@media screen and (max-width: 770px) {     
    .stadistic-card-container{
        background-color: white;
        align-self: center;
        border-radius: 3px;
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 15px;
    }  
    .container-estadistica{
        margin: 10px 0px 10px 0px;
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }  
    .win-and-loose{
        margin: 0px 0px 10px 0px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    } 
    .font-wins{  
        font-size: 15px !important;
        font-weight: bold !important;
        color: #000000 !important;
    }
    .font-stadistic-data{
        font-size: 15px !important;
        font-weight: bold !important;
    }
    .stadistic-span{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
}
