.loader-container{
    padding: 3% 3% 3% 3%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-self: center;
}
.spinner-color{
    border-color: #989898 !important;
}
.determinate-color{
    background-color: #383838 !important;
}
.spinner-width{
    border-width: 4px !important;
}
.loader{
    margin-top: 265px !important;
    margin-bottom: 200% !important;
    width: 40% !important;
    align-self: center;
}
.spinner-loader{
    margin-top: 0% !important;
    margin-bottom: 100px !important;
    align-self: center;
}

/* SIMPLE SPINNER LOADER */
.simple-loader-container{
    padding: 3% 3% 3% 3%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-self: center;
}
.simple-spinner-width{
    border-width: 7px !important;
}
.simple-spinner-loader{
    align-self: center;
    width: 200px;
    height: 200px;
    position: absolute;
}
.web-logo{
    width: 100px;
}