.spinner-color {
  border-color: #989898 !important;
}

.spinner-width {
  border-width: 4px !important;
}

.spinner-loader {
  margin-top: 0 !important;
  margin-bottom: 100px !important;
  align-self: center;
}

.loader-container {
  height: calc(100vh - 50px);
  padding: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-self: center;
}

.black-screen {
  height: calc(100vh - 50px);
  width: 100%;
}
