.card-historic-matches {
    border-radius: 20px;
    width: 630px;
    background-color: #fff;
    margin-bottom: 20px;
}

.card-historic-matches > .sort-content {
    margin: 0px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    height: 40px;
}

.prev-game-header-container > p {
    margin-top: 5px;
}

.card-historic-matches > .sort-content > svg {
    height: 30px;
}

.player-stats-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
}

.no-stadistic {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
}

.prev-game-content {
    padding: 0%;
    display: flex;
    flex-direction: column;
}

.prev-game-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bestof-prev-game {
    margin: 0 !important;
    font-size: 16px;
    width: 100%;
    height: 20px;
    text-align: center;
}

.point-A {
    padding-right: 0%;
}

.point-B {
    padding-left: 0%;
}

.text-in-card {
    padding: 0%;
    width: 100%;
}

.table-logo-size {
    max-width: 25px;
    max-height: 25px;
    margin-right: 20px;
}

.prev-game-mobile {
    height: 180px;
    margin-bottom: 10px;
}

.max-size-logo-prev-game {
    max-width: 50px;
    max-height: 60px;
}

.hoy-esquina-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2% 3% 0% 3%;
    margin-bottom: 2%;
    justify-content: space-between;
}

.container-label {
    padding: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.match-loser {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
}

.rankings-label {
    padding: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pill {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    height: 30px;
    z-index: 90;
}

.container-info {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label-teams {
    width: 160px;
    margin: 2% 0 2% 0 !important;
    font-size: 15px;
    font-family: "Gilroy-Light";
}

@media screen and (max-width: 640px) {
    .card-historic-matches {
        width: 100% !important;
    }

    .prev-game-mobile {
        height: 150px;
    }

    .bestof-prev-game {
        font-size: 12px;
    }

    .max-size-logo-prev-game {
        max-width: 40px;
        max-height: 57px;
    }

    .label-teams {
        width: 130px;
        font-size: 12px;
    }
}
