/*  Tarjeta     */
.posicion-tarjeta{
  align-self: center;
  text-align: center;
}
.text-center{
  text-align: center;
  margin-bottom: 8px;
}
.text-align{
  text-align: justify;
  margin-bottom: 8px !important;
}
.mb-8{
  margin-bottom: 8px !important;
}

.margin-entre-label-contenido{
  margin-right: 1%;
}
.stream-font-color-LIVE{
  color:  #FF0000 !important;
  font-weight: bold;
  filter: drop-shadow(0px 0px 5px #ff0000);
  margin-right: 0% !important;
  width: 250px;
}
.hoy-color{
  margin-left: 7%;
  color:  #ff0000 !important;
  font-weight: bold;
}
.padding-streaming-box{
  padding: 15px 30px !important;
}
.dot-indicator{
  height: 10px;
  width: 10px;
  background-color: rgb(248, 0, 0);
  border-radius: 50%;
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 0%;
}

.live-points-upcoming{
  font-weight: bold;
  margin-top: 4% !important;
  margin-bottom: 0% !important;
  font-size: 30px;
}
.padding-top-8{
  padding-top: 16px !important;
}

.live-container-info-bottom{
  padding: 0% 0% 0% 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-child-width-info-bottom{
  width: 40% !important;
}
.live-streaming-box-container{
  margin-top: 4%;
  padding: 0% 0% 0% 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.live-league-container{
  padding: 0% 0% 0% 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 771px) {   
  .max-size-team-logo{
    max-width: 200px !important;
    max-height: 200px !important;
  }
  .tamano-tarjeta{
    width: 630px !important;
  }    
  .lienzo-logo{
    padding-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .head-font{
    padding: 0% 0% 0% 0%;
    font-size: 24px;
    font-weight: bold;
  }
  .live-container-puntos-logos-upcoming{
    padding: 0% 0% 0% 0%;
    width: 100%;
    height: 187px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .card-stacked{
    max-width: 420px;
  }
  .card-image{
    min-width: 200px;
  }
  .card-content{
    padding: 24px 24px 0px 24px !important;
  }
  .card-stacked > .card-content > .social{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 180px;
    margin: 10px 0px;
  }
}

@media screen and (max-width: 770px) { 
  .tamano-tarjeta{
    /*width: 330px !important;*/
    width: 330px !important;
    display: flex;
    flex-direction: column;
  }    
  .lienzo-logo{
    padding-top: 5%;
    align-self: center;
  }
  .max-size-team-logo{
    max-width: 150px !important;
  }
  .head-font{
    padding: 0% 0% 0% 0%;
    font-size: 13px;
    font-weight: bold;
  }
  .live-container-puntos-logos-upcoming{
    padding: 0% 0% 0% 0%;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .card-content{
    padding: 15px 15px 0px 15px !important;
  }
  .card-stacked > .card-content > .social{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    margin: 10px 0px;
  }
}