.child-tournament > span {
  margin: 10px 0px;
  font-size: 17px;
  text-align: center;
}

.tournament-container {
  /* background-image: url("../../Images/generic_team_pattern.png");
  background-repeat: repeat;
  background-size: 50px 50px; */
  display: flex;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - 50px);
}

@media (min-width: 641px) {
  .child-tournament {
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tournament-container {
    flex-direction: column;
    align-items: center;
  }
  .tournament-size {
    background-color: rgba(150, 150, 150, 0.26);
    padding: 0px 20px;
    height: 90px;
    width: 630px;
    margin: 10px 0px;
  }
  .tournament-size :hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.39));
    transition: all 0.1s ease-out;
  }
  .tournament-flex {
    padding: 5px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .tournament-flex > div {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .tournament-logo-size {
    max-width: 60px;
    max-height: 60px;
  }
  .tournament-name {
    border-radius: 100px;
    padding: 2px 15px;
    background-color: rgba(0, 0, 0, 0.452);
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-align: end;
    font-family: "Gilroy-Light";
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 640px) {
  .child-tournament {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tournament-container {
    flex-direction: column;
    align-items: center;
  }
  .tournament-size {
    background-color: #ffffffb4;
    padding: 0px 15px;
    height: 70px;
    width: 100%;
    margin: 10px 0px;
  }
  .tournament-flex {
    padding: 5px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .tournament-flex > div {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .tournament-logo-size {
    max-width: 50px;
    max-height: 50px;
  }
  .tournament-name {
    text-align: end;
    border-radius: 100px;
    padding: 2px 15px;
    background-color: rgba(0, 0, 0, 0.452);
    font-weight: bold;
    font-size: 10px;
    color: white;
    font-family: "Gilroy-Light";
    letter-spacing: 2px;
  }
}
