.ranking-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    background-image: url('../../Images/generic_team_pattern.png');
    background-repeat: repeat; 
    background-size: 50px 50px;
    height: calc(100vh - 50px);
}

.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.192);
}

.table-container > .lazyload-wrapper > a{
    width: 100%;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    height: 75px;
}

.table-container > .lazyload-wrapper > a :hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.39));
    transition: all 0.1s ease-out;
}

.table-container > .lazyload-wrapper > a > div{
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d6da3;
}
.table-container > .lazyload-wrapper > a > div > .team{
    font-size: 20px;
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-container > .lazyload-wrapper > a > div > .name{
    color: white;
    font-size: 20px;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-container > .lazyload-wrapper > a > div > .roster{
    color: white;
    font-family: "Gilroy-ExtraBold";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 490px;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 10px;
}

.table-container > .lazyload-wrapper > a > div > .team > div{
    background-color: rgba(255, 255, 255, 0.801);
    height: 60px;
    width: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-container > .lazyload-wrapper > a > div > .team > div > img{
    max-width: 45px;
    max-height: 100%;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.63));
}
.table-container > .lazyload-wrapper > a > div > span{
    font-family: "Gilroy-ExtraBold";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.801);
    font-size: 20px;
    letter-spacing: 2px;
}
