.ladder {
    margin: 10px 0px;
    align-self: center;
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.ladder-teams-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columns-ladder {
    width: 100%;
    padding: 20px 100px 20px 50px;
    display: flex;
    justify-content: space-between;
}

.columns-ladder > div {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.columns-ladder .number {
    width: 40px;
}

.columns-ladder .teams {
    width: 150px;
}

.columns-ladder > .matches-won {
    width: 120px;
}

.ladder-team {
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    padding: 0px 100px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0000000e;
    border-radius: 3px;
}

.ladder > .ladder-team > div {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ladder > .ladder-team > div > .mini-ranking {
    width: 30px;
    margin-right: 10px;
    color: black;
    font-size: 14px;
}

.ladder > .ladder-team > div > img {
    margin-right: 20px;
}

.ladder-team img {
    max-width: 30px;
    max-height: 40px;
}

@media screen and (max-width: 770px) {
    .ladder {
        width: calc(100% - 18px);
    }

    .columns-ladder {
        padding: 20px 25px 20px 10px;
    }

    .columns-ladder > div {
        width: auto;
    }

    .ladder-team {
        padding: 0px 30px 0px 10px;
    }

    .ladder > .ladder-team > div > .mini-ranking {
        font-size: 13px;
    }

    .ladder > .ladder-team > div > img {
        margin-right: 20px;
    }
}
