div:hover > .circular-item {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.1s ease-out;
    filter: drop-shadow(0px 0px 5px #ffffff5e);
}

div:hover > .circular-item > img {
    width: 35px;
    transition: all 0.1s ease-out;
}

.circular-container {
    width: 100%;
    margin-bottom: 5px;
}

.circular-container > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circular-item {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 15px 15px 10px 15px;
    background-color: white;
    overflow: hidden;
}

.circular-item > img {
    max-width: 40px;
    max-height: 50px;
}

.circular-container > div > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circular-container > div > a > span {
    width: 85px;
    height: 30px;
    border-radius: 50px;
    font-size: 13px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gilroy-Light";
    color: black;
}

@media screen and (max-width: 640px) {
    .circular-container {
        margin: 0px 15;
        background-color: #00000063;
    }

    .circular-container > div {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        height: 130px;
    }

    .circular-item {
        height: 60px;
        width: 60px;
    }

    .circular-item > img {
        max-width: 40px;
        max-height: 35px;
    }

    .circular-container > div > a > span {
        width: 75px;
        font-size: 10px;
        font-family: "Gilroy-Light";
    }
}
