.ReactModal__Content {
    padding: 10px !important;
}

.ReactModal__Content svg {
    text-align: end;
    margin-left: 240px;
    margin-right: 5px;
    font-size: 30px;
}

.ReactModal__Content h2 {
    font-family: "Gilroy-ExtraBold";
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    font-size: 30px;
}

.ReactModal__Content h3 {
    font-family: "Gilroy-ExtraBold";
    width: 100%;
    margin: 10px 0px;
    font-size: 25px;
    text-align: center;
}

.ReactModal__Content .player-canvas {
    position: relative;
    width: 100%;
    height: 210px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.ReactModal__Content .player-canvas .background-team-logo {
    position: absolute;
    filter: blur(2px);
    z-index: 0;
    max-width: 180px;
        max-height: 210px;
}

.ReactModal__Content .player-pic {
    z-index: 100;
    width: 200px;
}

.ReactModal__Content h4 {
    font-family: "Gilroy-Light";
    width: 100%;
    text-align: center;
    margin: 15px 0px;
    font-size: 20px;
}

.ReactModal__Content .place {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Content .place > img {
    width: 24px;
    margin-left: 10px;
}

.ReactModal__Content .social-media {
    padding: 0px 40px;
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ReactModal__Content .social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Content .social-media img {
    cursor: pointer;
    width: 27px;
}

.ReactModal__Content .social-media img:hover {
    filter: drop-shadow(0px 0px 5px #000000);
    transform: scale(1.1, 1.1);
    transition: all 0.1s ease-out;
}

.ReactModal__Content h6 {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 11px;
}

.ReactModal__Content h6 div {
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ReactModal__Content h6 div span {
    font-family: "Gilroy-ExtraBold";
    text-align: center;
    font-size: 13px;
        width: 78px;
}

@media screen and (max-width: 770px) {
    .ReactModal__Content svg {
        margin-left: 240px;
        margin-right: 5px;
        font-size: 20px;
    }

    .ReactModal__Content h2 {
        font-size: 20px;
    }

    .ReactModal__Content h3 {
        font-size: 15px;
    }

    .ReactModal__Content .player-canvas {
        height: 145px;
    }

    .ReactModal__Content .player-canvas .background-team-logo {
        max-width: 130px;
        max-height: 145px;
    }

    .ReactModal__Content .player-pic {
        width: 140px;
    }

    .ReactModal__Content h4 {
        font-size: 13px;
    }

    .ReactModal__Content .social-media img {
        width: 20px;
    }
    
    .ReactModal__Content h6 div span {
        font-size: 12px;
        width: 72px;
    }
}
