.warning {
  filter: drop-shadow(3px 3px 15px rgba(180, 0, 0, 0.863));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning > .home-button-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 30px;
}
