.warning {
  filter: drop-shadow(3px 3px 15px rgba(180, 0, 0, 0.863));
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url("../../assets/images/csgo/generic_team_pattern.png");
  background-repeat: repeat;
  background-size: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
}
