/*     WARNING      */
.warning{
    filter: drop-shadow(3px 3px 15px rgba(180, 0, 0, 0.863));
    max-width: 1000px !important;
    min-width: 500px !important;
    height: 600px !important;
    padding: 2% 0% 10% 0%;
    margin-bottom: 5%;
    align-self: center;
    text-align: center;
}
.separate-items{
    padding: 2% 26% 2% 26% !important;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  