.allmatches {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allmatches .card {
  margin: 20px 0 !important;
}
