/*  Tarjeta     */
.posicion-tarjeta {
  align-self: center;
  text-align: center;
}
.text-center {
  text-align: center;
  margin-bottom: 8px;
}
.text-align {
  text-align: justify;
  margin-bottom: 8px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}

.stream-font-color-LIVE {
  color: #ff0000 !important;
  font-weight: bold;
  filter: drop-shadow(0px 0px 5px #ff0000);
  margin-right: 0% !important;
  width: 250px;
}
.hoy-color {
  margin-left: 7%;
  color: #ff0000 !important;
  font-weight: bold;
}
.padding-streaming-box {
  padding: 15px 30px 3px 30px !important;
}

.dot-indicator {
  height: 10px;
  width: 10px;
  background-color: rgb(248, 0, 0);
  border-radius: 50%;
  display: inline-block;
  margin-left: 2%;
  margin-bottom: 0%;
}

.live-points-upcoming {
  font-weight: bold;
  margin-top: 4% !important;
  margin-bottom: 0% !important;
  font-size: 30px;
}
.padding-top-8 {
  padding-top: 16px !important;
}

.live-container-info-bottom {
  padding: 0% 0% 0% 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-child-width-info-bottom {
  width: 40% !important;
}
.live-streaming-box-container {
  margin-top: 4%;
  padding: 0% 0% 0% 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.live-league-container {
  padding: 0% 0% 0% 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy-ExtraBold";
}
.card-stacked > .card-content > .display-flex {
  margin-bottom: 5px;
}

@media (min-width: 771px) {
  .max-size-team-logo {
    max-width: 150px !important;
    max-height: 150px;
  }
  .team-logo {
    max-width: 110px !important;
    max-height: 187px;
  }
  .tamano-tarjeta {
    width: 630px !important;
    padding: 12px;
  }
  .lienzo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lienzo-logo > a{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(160,160,160,0.2);
  }
  .lienzo-logo > a:hover img{
    transform: scale(1.1, 1.1);
    transition: all 0.1s ease-out;
  }
  .lienzo-logo > a > span{
    width: 100%;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 15px 0 3px 0;
    color: black;
  }

  .live-container-puntos-logos-upcoming {
    padding: 0% 0% 0% 0%;
    width: 100%;
    height: 187px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .card-stacked {
    max-width: 420px;
  }
  .card-image {
    min-width: 200px;
  }
  .card-content {
    padding: 10px 0px 0px 20px !important;
  }
  .match-data > span {
    width: 50%;
  }
  .match-data > span > .data {
    margin-left: 5px;
  }
  .card-stacked > .card-content > .display-flex > .text-align-start {
    width: 72px;
  }
}

@media screen and (max-width: 770px) {
  .team-logo {
    max-width: 50px !important;
    max-height: 100px;
  }
  .tamano-tarjeta {
    /*width: 330px !important;*/
    width: 330px !important;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 10px 15px !important;
  }
  .lienzo-logo {
    max-width: 100% !important;
    display: flex !important;
    justify-content: center;
  }
  .max-size-team-logo {
    max-width: 100px !important;
  }
  .lienzo-logo > a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(160,160,160,0.2);
  }
  .lienzo-logo > a > span{
    width: 100%;
    padding: 10px 0;
    color: black;
  }

  .live-container-puntos-logos-upcoming {
    padding: 0% 0% 0% 0%;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .card-content {
    padding: 10px 0 0 0  !important;
  }
  .match-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
  .match-data > span {
    width: 50%;
  }
  .match-data > span > .data {
    margin-left: 5px;
  }
  .card-stacked > .card-content > .display-flex > .text-align-start {
    width: 50px;
  }
}
