.options > span {
    bottom: 0;
    position: absolute;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    z-index: 100;
}

.options > .scroll > .column-align > .option > a,
.options > .scroll > .column-align > .option > div {
    width: 100%;
    display: flex;
    align-items: center;
}
.options > .scroll > .column-align > .option > a > svg,
.options > .scroll > .column-align > .option > div > svg {
    color: white;
    font-size: 20px;
    width: 20px;
}
.options > .scroll > .column-align > .option > a > span,
.options > .scroll > .column-align > .option > div > span {
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
    text-align: center;
}

.settings {
    background-color: #222222;
    border-radius: 100px;
    padding: 0px 20px !important;
    width: calc(100% - 18px) !important;
}

.border-for-submenu-items {
    border-left: 5px solid #9b7849;
}

.margin-for-submenu-items {
    margin-left: 40px;
    border-radius: 5px;
}

.scroll {
    font-family: "Gilroy-Light";
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 20%;
    width: 100%;
}

.scroll > .rights {
    margin-top: 30px;
    margin-bottom: 90px;
    color: #ffffff;
}

.options {
    width: 100%;
    height: 100vh;
    padding: 10px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options > .scroll > .column-align > .option {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 30px;
    transition: all 0.25s ease-in-out;
}

.options > .scroll > .column-align > .option:hover,
.options > .scroll > .column-align > .option:focus {
    box-shadow: inset 0 0 0 10em #ffffff2d;
}

.options > .scroll > .column-align > hr {
    align-self: center;
    width: 90%;
    height: 1px;
    background-color: #ffffff33;
    border: 0px;
    margin: 15px 0px;
}

@media screen and (max-width: 640px) {
    .options > .scroll {
        padding: 0;
    }
}
