.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-x: hidden;
    height: calc(100vh - 50px);
}

.about-container > h1 {
    font-size: 100px;
}

.about-container .tech-logo-canvas > img {
    max-width: 100px;
    max-height: 100px;
}

.about-container > .technologies {
    margin-top: 20px;
    width: 630px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-container > .about-item{
    margin: 100px 0;
    width: 630px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about-container > .about-item > img{
    max-width: 300px;
}

.about-container > .technologies > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-between;
}

.about-container > .technologies > div > span {
    margin-bottom: 10px;
    border-radius: 100px;
    padding: 5px 10px;
    text-align: center;
}

.about-container > .technologies > div .tech-logo-canvas {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.css-logo{
    max-height: 80px !important;
}

.css-color {
    background-color: #33a9dc;
}

.react-color {
    background-color: #63dbfb;
}

.node-color {
    background-color: #72a962;
}

.firebase-color {
    background-color: #ffca28;
}
