.search-container {
    width: 630px !important;
    margin-bottom: 10px !important;
}

.search-container > .search-tournaments-input {
    width: 90%;
}

@media screen and (max-width: 640px) {
    .search-container {
        width: 100% !important;
    }
}
