
.search-container > .search-tournaments-input{
    width: 90%;
}

@media (min-width: 641px) {
  .search-container {
    width: 630px !important;
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 640px) {
  .search-container {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
}