.header-mobile {
    width: 630px;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 100;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.header-mobile > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Gilroy-ExtraBold";
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.493);
}

.header-mobile > div > img {
    max-width: 30px;
    max-height: 40px;
}

@media screen and (max-width: 770px) {
    .header-mobile {
        width: calc(100% - 18px);
    }
}


