/*       MENU         */
@media (min-width: 1025px) {   
    .home{
        overflow-y: scroll;
        width: 100%;
        height: calc(100vh - 65px);
        background-image: url('../../pattern/generic_team_pattern.png');
        background-repeat: repeat; 
        background-size: 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 641px) and (max-width: 1024) {
    .home{
        overflow-y: scroll;
        width: 100%;
        height: calc(100vh - 65px);
        background-image: url('../../pattern/generic_team_pattern.png');
        background-repeat: repeat; 
        background-size: 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  

@media screen and (max-width: 640px) {
    .home{
        overflow-y: scroll;
        width: 100%;
        height: calc(100vh - 50px);
        background-image: url('../../pattern/generic_team_pattern.png');
        background-repeat: repeat; 
        background-size: 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  