.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: calc(100vh - 50px);
}

.child-home {
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .home {
        width: 100%;
    }

    .child-home {
        overflow-y: scroll;
        width: 100%;
        height: calc(100vh - 50px);
    }
}
