/*       MENU         */

.nav-bar-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  font-size: 15px;
  width: 50%;
  height: 60px;
  -webkit-box-shadow: 2px -1px 10px 5px rgba(0, 0, 0, 0) !important;
    -moz-box-shadow: 2px -1px 10px 5px rgba(0, 0, 0, 0) !important;
    box-shadow: 2px -1px 10px 5px rgba(0, 0, 0, 0) !important;
  background-color: #ffffff00;
}

.all-matches-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  font-size: 15px;
  width: 20%;
  height: 60px;
  background-color: #0000008c;
  -webkit-box-shadow: 2px -1px 10px 5px rgba(0, 0, 0, 0) !important;
    -moz-box-shadow: 2px -1px 10px 5px rgba(0, 0, 0, 0) !important;
    box-shadow: 2px -1px 10px 5px rgba(0, 0, 0, 0) !important;
}
.menu-header-logo{
  width: 200px;
  height: 200px;
}
@media (min-width: 1025px) {     
  .nav-bar-container{
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {    
  .nav-bar-container{
    display: none;
  }
  .teams-position{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    align-self: center;
  }
  .teams-size{
    background-color: #ffffffb7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px;
    margin: 2%;
    transition: background 0.5s;
  }
  .logo-team-menu{
    max-width: 60% !important;
  }
}

@media screen and (max-width: 600px) {   
  .nav-bar-container{
    display: none;
  } 
  .teams-position{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    align-self: center;
  }
  .teams-size{
    background-color: #ffffffb7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px;
    margin: 2%;
    transition: background 0.5s;
  }
  .logo-team-menu{
    max-width: 50% !important;
  }
}

.menu-background{ 
  background-image: url('../../pattern/generic_team_pattern.png');
  background-repeat: repeat; 
  background-size: 50px 50px;
}
.download-app-btn{
  display: none;
}
