/*       MENU         */

.nav-bar-container{
  display: flex;
  flex-direction: row;
}
.nav-bar-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  font-size: 15px;
  width: 50%;
  height: 60px;
  background-color: #ffffff1a;
}

@media (min-width: 600px) {    
  .teams-position{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    align-self: center;
  }
  .teams-size{
    background-color: #ffffffb7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px;
    margin: 2%;
    transition: background 0.5s;
  }
  .logo-team-menu{
    max-width: 60% !important;
  }
  .nav-bar-button:hover{
    background-color: #ffffff2f !important;
  }
}

@media screen and (max-width: 600px) {    
  .teams-position{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    align-self: center;
  }
  .teams-size{
    background-color: #ffffffb7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px;
    margin: 2%;
    transition: background 0.5s;
  }
  .logo-team-menu{
    max-width: 50% !important;
  }
}

.menu-background{ 
  background-image: url('../../pattern/generic_team_pattern.png');
  background-color: #040c1c;
  background-repeat: repeat; 
  background-size: 50px 50px;
  height: 100%;
}

.menu-banner{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.94) 0%, rgb(196, 180, 61) 100%);
}