.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    overflow-x: hidden;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
}

.contact-container > h1 {
    margin: 20px 0 40px 0;
}

.contact-container > .form {
    width: 100%;
}

.contact-container > .form h3 {
    padding-left: 8px;
    margin: 20px 0;
    font-size: 20px;
}

.contact-container > .form > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.contact-container > .form > div > div {
    width: 45%;
}

.contact-container > .send-btn {
    font-size: 20px;
    border-radius: 100px;
    font-family: "Gilroy-ExtraBold";
    margin: 60px 0;
    padding: 7px 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.contact-container > .send-btn:hover {
    transition: all 0.2s ease-out;
    filter: drop-shadow(0px 0px 4px #ffffff);
}

.contact-container input,
.contact-container textarea {
    font-size: 20px !important;
    color: white;
    font-family: "Gilroy-Light";
}

.contact-container input {
    border-bottom: 1.5px solid #FABE2E !important;
}

.contact-container textarea {
    height: 200px;
    border-radius: 5px;
    border: 1px solid #FABE2E;
    padding: 10px;
    outline-width: 0;
}

@media screen and (max-width: 1024px) {
    .contact-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .contact-container > h1 {
        margin: 10px 0 30px 0;
        font-size: 30px;
    }

    .contact-container > .form > div {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .contact-container input {
        margin-bottom: 30px !important;
    }
    .contact-container > .form > div > div {
        width: 100%;
    }
    .contact-container input,
    .contact-container textarea {
        font-size: 16px !important;
    }
    .contact-container > .form h3 {
        font-size: 18px;
    }

    .contact-container > .send-btn {
        font-size: 20px;
        margin: 40px 0;
    }
}
