

@media (min-width: 771px) {   
    .container-estadistica{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px 5px;
    }   
    .font-wins{  
        font-size: 20px !important;
        font-weight: bold !important;
        color: #000000 !important;
    }
    .font-stadistic-data{
        font-size: 20px !important;
        font-weight: bold !important;
    }
    .stadistic-span{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
}
  
@media screen and (max-width: 770px) {     
    /* Tarjeta Estadisticas*/
    .container-estadistica{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 5px;
        margin: 10px 0px;
    }   
    .font-wins{  
        font-size: 15px !important;
        font-weight: bold !important;
        color: #000000 !important;
    }
    .font-stadistic-data{
        font-size: 15px !important;
        font-weight: bold !important;
    }
    .stadistic-span{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
}
