.collection-container > span {
    font-size: 20px;
    margin-bottom: 15px;
}

.collection-container {
    margin-top: 30px;
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-position > a {
    border-radius: 10px;
    margin: 15px 0px;
    width : 100%;
    background-color: #d4d4d4;
    color: black;
    display: flex;
    align-items: center;
    font-family: "Gilroy-Light";
}

.teams-position > a > div {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teams-position > a > div > div {
    height: 60px;
    width: 60px;
    background-color: #ffffffcc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teams-position > a > div > span {
    font-size: 15px;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.801);
    padding: 3px 10px;
    border-radius: 100px;
}

.teams-position > a > div > div > img {
    max-width: 45px;
    max-height: 45px;
}

.teams-position {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .collection-container {
        width: 100%;
        margin-top: 20px;
    }

    .collection-container > span {
        margin-bottom: 10px;
    }

    .teams-position > a {
        width: calc(100% - 18px);
        margin: 10px;
    }

    .teams-position > a > div {
        padding: 10px;
    }
}
