.search-team-container {
    width: 100%;
    margin: 0 !important;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0) !important;
}

.list-of-teams-container {
    background-color: #474747;
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.team-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-right: 15px;
    margin: 10px 0;
    color: #f6f7f9;
}

.searched-team {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f6f7f9;
}

.save-container {
    margin-left: 15px;
    width: 60px;
    height: 45px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #525355;
    border-radius: 100px;
    transition: background 0.5s;
}

.searched-team:hover {
    background-color: #0000001c;
    border-radius: 20px;
}

.pin-team-container,
.pin-team-container-saved {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: background 0.2s;
    cursor: pointer;
}

.pin-team-container:hover,
.pin-team-container-saved:hover {
    background-color: #0000001c;
    transform: rotate(90deg);
}

.pin-team-container-saved {
    transform: rotate(90deg);
    background-color: rgba(43, 255, 0, 0.384);
}

.pin-team-container:hover {
    background-color: #0000001c;
    transform: rotate(90deg);
}

.pin-team-container-saved:hover {
    background-color: rgba(255, 0, 0, 0.342);
}

.searched-team-img {
    max-width: 40px;
    max-height: 40px;
}

/*=====================================*/



/*=====================================*/

@media screen and (max-width: 640px) {
    .list-of-teams-container {
        width: calc(100% - 18px);
    }

    .team-container {
        padding: 0px 10px;
    }

    .searched-team:hover {
        height: 40px;
        margin: 10px 0px;
        padding: 0px 10px;
    }

    .pin-team-container:hover {
        transition: background 0.5s;
    }

    .pin-team-container-saved:hover {
        transform: rotate(90deg);
        background-color: rgba(43, 255, 0, 0.384);
        transition: background 0.5s;
    }
}
