.preview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 771px) {
  .preview-container > .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 630px;
    align-items: center;
    margin-bottom: 15px;
    background-color: white;
    justify-content: center;
    border-radius: 2px;
  }
  .preview-container > .team > .player {
    border-radius: 2px;
    height: 250px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.089);
    padding: 5px 0px;
  }
  .preview-container > .team > .player:hover {
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.952);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.952);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.952);
    transform: scale(1.02, 1.02);
    transition: all 0.1s ease-out;
    cursor: pointer;
  }
  .preview-container > .team > .player > div {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
    width: 130px;
    border-radius: 2px;
  }

  .preview-container > .team > .player > div > img {
    width: 130px;
  }
  .preview-container > .little-info {
    border-radius: 2px;
    background-color: white;
    width: 630px;
    display: flex;
  }
  .preview-container > .little-info > .last-match,
  .preview-container > .little-info > .next-match {
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
  }
  .preview-container > .little-info > .next-match {
    border-left: 1px solid rgba(0, 0, 0, 0.507);
  }
  .place-in-world {
    width: 630px;
  }
}

@media screen and (max-width: 770px) {
  .preview-container > .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 330px;
    height: 300px;
    overflow-y: scroll;
    align-items: center;
    margin-bottom: 15px;
    background-color: white;
    justify-content: space-evenly;
    border-radius: 2px;
  }
  .preview-container > .team > .player {
    border-radius: 2px;
    height: 250px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0.185);
    padding: 5px 0px;
  }
  .preview-container > .team > .player > div {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 160px;
    width: 140px;
    border-radius: 2px;
  }
  .preview-container > .team > .player > div > img {
    width: 140px;
  }
  .preview-container > .little-info {
    border-radius: 2px;
    background-color: white;
    width: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .preview-container > .little-info > .last-match,
  .preview-container > .little-info > .next-match {
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
  }
  .preview-container > .little-info > .next-match {
    border-top: 1px solid rgba(0, 0, 0, 0.507);
  }
  .place-in-world {
    width: 330px;
  }

}

.place-in-world {
  text-align: center;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Gilroy-ExtraBold";
  border-radius: 3px 3px 0px 0px;
}

.preview-container > .team > .player > span {
  width: 100%;
  margin: 0px;
  text-align: center;
  font-size: 13px;
}

.preview-container > .team > .player > img {
  width: 24px;
}

.preview-container > .little-info > .next-match > span {
  width: 100%;
  text-align: center;
  position: relative;
}

.preview-container > .little-info > .next-match > span > span {
  text-align: end;
  margin-right: 15px;
  position: absolute;
  right: 0;
  color: red;
  width: 50px;
}

.preview-container > .little-info > .last-match > div,
.preview-container > .little-info > .next-match > div {
  margin: 10px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.preview-container > .little-info > .last-match > div > .team,
.preview-container > .little-info > .next-match > div > .team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview-container > .little-info > .last-match > div > .team > span,
.preview-container > .little-info > .next-match > div > .team > span {
  width: 80px;
  text-align: center;
}
.preview-container > .little-info > .last-match > div > .team > img,
.preview-container > .little-info > .next-match > div > .team > img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 5px;
}

.dot-indicator {
  height: 10px;
  width: 10px;
  background-color: rgb(248, 0, 0);
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.winner-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  font-family: "Gilroy-ExtraBold";
}
