/*       FOOTER         */
.footer-container{
    height: 200px;
    display: flex;
    width: 100%;
    padding: 40px 0px 20px 0px;
    margin-top: 2%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-container{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.9192051820728291) 30%, rgba(0,0,0,0.7959558823529411) 48%, rgba(0,0,0,0.5998774509803921) 70%, rgba(255,255,255,0) 100%);  
}

.footer-text{
    color: white !important;
    text-decoration: none !important;
    text-align: center;
}
