/*       FOOTER         */
.footer-container .box{
    min-height: 100%;
    display: flex;
    width: 90%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-container{
    width: 100%;
    height: auto;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.9192051820728291) 30%, rgba(0,0,0,0.7959558823529411) 48%, rgba(0,0,0,0.5998774509803921) 70%, rgba(255,255,255,0) 100%);
    
}
.footer-container .box .seccion{
    margin-bottom: 3%;
    align-items: baseline;
    display: flex;
}
.position-derechos{
    text-align: center;
    flex: 1;
    color:  #c5c5c5 !important;
}
.position-aclaraciones{
    text-align: center;
    flex: 1;
    color:  #c5c5c5 !important;
}
.style-firma{
    text-align: center;
    flex: 1;
    color:  #c5c5c5 !important;
}
.position-agradecimientos{
    align-self: center;
    flex: 3;
    color:  #c5c5c5 !important;
}