.match-card-row-size {
    width: 630px !important;
    border-radius: 20px;
    height: auto !important;
}

.match-card-row-size > .sort-content {
    margin: 0px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 15px;
    font-size: 16px;
}

.row-team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
}

.row-team > p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    height: 30px;
    padding: 0px 15px;
    color: black;
}

.teams-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.match-card-row-size .bestof-prev-game {
    margin: 0;
}

.row-card-share {
    margin-left: 18px;
    margin-bottom: 15px;
}

.row-team > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: start;
}

.row-team > .team-data > p,
.row-team > div > span {
    font-size: 16px;
}

.teams-info-container > .row-team > div {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 16px;
}

.teams-info-container > .row-team > div > .canvas-logo {
    display: flex;
    justify-content: center;
    margin-right: 15px;
    width: 50px;
}

.row-team:hover {
    cursor: pointer;
    transition: all 0.1s ease-out;
    margin: 0 5px;
}

.match-card-row-size {
    width: 630px !important;
}

.match-card-row-size .team-logo {
    max-width: 50px;
    max-height: 60px;
}

.info-container {
    padding: 5px 20px;
    margin: 5px 0;
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info-container > .text-align-end {
    margin-left: 20px;
}

.match-card-row-size .twitch-logo {
    width: 18px;
}

.match-card-row-size .mini-ranking {
    font-size: 15px;
    color: white;
    margin-left: 10px;
}

@media screen and (max-width: 640px) {
    .row-team > div > span {
        max-width: 100px;
    }

    .header {
        font-size: 14px;
    }

    .teams-info-container > .row-team > div {
        width: 50%;
    }

    .row-team {
        padding: 0 10px;
        height: 50px;
    }
    
    .row-team:hover {
        margin: 0;
    }
    .match-card-row-size {
        width: 100% !important;
    }

    .teams-info-container > .row-team > div > .canvas-logo {
        width: 35px;
    }

    .match-card-row-size .team-logo {
        max-width: 35px;
        max-height: 35px;
    }

    .row-team > .team-data > p,
    .row-team > div > span {
        font-size: 12px;
    }

    .info-container {
        font-size: 15px;
        justify-content: space-between;
    }

    .info-container svg {
        font-size: 16px;
    }

    .info-container > .text-align-end {
        width: 85%;
    }

    .match-card-row-size .twitch-logo {
        width: 17px;
    }

    .match-card-row-size .mini-ranking {
        font-size: 14px;
        color: white;
        margin-left: 10px;
    }
}
