.menu-container {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-mobile {
    color: #f6f7f9;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 630px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #474747;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 20px black);
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9ad43;
    color: #f6f7f9;
}

.menu-mobile .option-selected,
.menu-mobile .option-disabled,
.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 23px;
    border-radius: 20px;
}

.menu-mobile .option-disabled {
    color: #f6f7f9;
}

.menu-mobile .option-selected {
    background-color: #d9ad43;
    color: #474747;
}

@media screen and (max-width: 640px) {
    .menu-mobile {
        width: calc(100% - 18px);
    }
}
