.menu-container {
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-mobile {
    color: #f6f7f9;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 630px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #3b3b3b;
    border-radius: 20px;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9ad43;
    color: white;
    width: 55px;
    height: 55px;
    font-size: 23px;
    border-radius: 20px;
}

.menu-mobile .option-selected, .menu-mobile .option-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 23px;
}

.menu-mobile .option-disabled {
    color: white;
}

.menu-mobile .option-selected {
    background-color: #d9ad43;
    border-radius: 20px;
    color: #3b3b3b;
}

@media screen and (max-width: 640px) {
    .menu-mobile {
        width: calc(100%  - 18px);
    }
}
